.header {
  width : 100vx;
  background-color: var(--cream-primary);
  padding: 10px 20px;
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--oxfore-blue-primary);
}
