.home-container {
  display: flex;
  height: 100vh;
}

.home-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  height: 150px; 
  background-color: var(--cream-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.orders {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: var(--oxfore-blue-primary);
}

.order-item p{
  color: white;
  font-size: 3rem;
}

.order-action button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.Edit .Delete .check{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-button button {
  background-color: var(--oxfore-blue-primary);
  color: white;
  border-radius: 10%;
  width: 120px;
  height: 60px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
